<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emptyBuilder" class="org.apache.solr.client.solrj.impl.CloudSolrClient.Builder"/>

    <bean factory-bean="emptyBuilder" factory-method="withZkHost" id="builder">
        <constructor-arg value="120.78.88.198:2182,120.78.88.198:2183,120.78.88.198:2184" type="java.lang.String"/>
    </bean>

    <bean factory-bean="builder" factory-method="build" id="solrClient">
        <property name="defaultCollection" value="collection2"/>
    </bean>

    <bean id="cloudSolrBuilder" class="org.apache.solr.client.solrj.impl.CloudSolrClient.Builder"/>

    <bean id="builder" factory-bean="cloudSolrBuilder" factory-method="withZkHost">
        <constructor-arg type="java.lang.String"
                         value="120.78.88.198:2182,120.78.88.198:2183,120.78.88.198:2184"/>
    </bean>

    <bean id="cloudSolrClient" factory-bean="builder" factory-method="build">
        <property name="defaultCollection" value="collection"/>
    </bean>

</beans>